* {
    font-family: 'Syne Tactile', cursive;
}

body {
    width: 1024px;
    background-color: #cecece;
}

.site {
    height: 85%; padding: 10px;
}

.logo {
    position: absolute;
    top:5px;
    left: 0px; 
}

header {
    text-align: right;
    padding-top: 40px;
}

header > label {
    padding-left: 20px;
    color: black;
    font-weight: 600;
}

header > a {
    color: black;
}

header > a {
    padding-left: 20px;
    text-decoration: none;
}

header > a:hover {
    font-weight: 600;
}

header > a:visited {
    color: black;
}

footer > a {
    color: red;
    text-decoration: none;
}