input {
    display: inline;
    margin: 20px;
    margin-top: 20px;
}

label {
    display: inline;
    margin: 20px;
    margin-top: 20px;
}

button {
    display: inline;
    margin: 20px;
    margin-top: 20px;
}